/* CALENDAR CSS */
.calendar-left-header{
  vertical-align: middle;
}

#calendar_range{
  font-size: 18px !important;
}

.calendar-day, .calendar-date{
  margin-bottom: 0;
}

.calendar-check-in{
  background: #FFB200 !important;
  color: #fff;
}

.calendar-arrival{
  background: #41f2ff !important;
  color: #fff;
}

.calendar-checkout{
  background: #ff4161 !important;
  color: #fff;
}


.calendar-check-in p, .calendar-arrival p, .calendar-checkout p{
  margin-bottom: 0;
}

.calendar-date-stay{
  overflow:hidden;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  max-width: 70%;
}

.calendar-view{
  cursor: pointer;
}

.calendar-day-date-header{
  width: 12em !important;
}


/* .calendar-guest-no, .calendar-view{
 display: inline-flex;
 justify-content: space-between;
}

.calendar-date-stay, .calendar-status{
  overflow:hidden;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
} */

/* .calendar-view, .calendar-status{
  float: right;
}

.calendar-view{
  display: flex;
  margin-top: -3.3em;
}

.calendar-status{
  display: flex;
  margin-top: -1.6em;
} */

.bg-menu-theme .menu-inner .menu-sub > .menu-item.active .menu-icon {
  color: #20c997;
}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
  color: #20c997;
  background-color: rgba(105, 255, 213, 0.16) !important;
}
.bg-menu-theme .menu-inner > .menu-item.active:before {
  background: #20c997;
}
.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
  background-color: #b4bdc6 !important;
}
.bg-menu-theme .menu-sub > .menu-item.active > .menu-link:not(.menu-toggle):before {
  background-color: #20c997 !important;
  border: 3px solid #e7e7ff !important;
}

.app-brand .layout-menu-toggle {
  background-color: #20c997;
  border: 7px solid #f5f5f9;
}

.btn-success {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
}
.btn-success:hover {
  color: #fff;
  background-color: #159d74;
  border-color: #159d74;
  transform: translateY(-1px);
}
.btn-check:focus + .btn-success, .btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #159d74;
  border-color: #159d74;
  transform: translateY(0);
  box-shadow: none;
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #159d74;
  border-color: #159d74;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-success.disabled, .btn-success:disabled {
  box-shadow: none;
}

.btn-outline-success {
  color: #71dd37;
  border-color: #71dd37;
  background: transparent;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #66c732;
  border-color: #66c732;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  color: #fff;
  background-color: #66c732;
  border-color: #66c732;
  box-shadow: none;
  transform: translateY(0);
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
  background-color: #20c997;
  border-color: #20c997;
  box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}

.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):hover, .pagination li.active > a:not(.page-link):focus {
  border-color: #20c997;
  background-color: #20c997;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(105, 108, 255, 0.4);
}


#view_room_description p{
  margin-bottom: 0rem !important;
}

.table > :not(caption) > * > *{
  border: 1px solid #cfcfcf !important;
}
